
body {
  background-image: url(22996.jpg);
  background-repeat: no-repeat;
    background-size: 1350px;
  text-align: center;
}

/*
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

.navbar {
  display: inline-block;
}

nav a {
  margin: 0;
  text-align: left;
  padding: 12px 15px 12px 15px;
  background: #5f6975;
  color: white;
  text-decoration: none;
  position: relative;
}
*/




.Slogan {
  font-size: 20px;
}

.mainpagetext1 {
  border-style: solid;
    background: rgba(232, 255, 22, 0.4);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 25px;
    color: red;
}
.mainpagetext2{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 35px;
}
.mainpageparagraph1{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 20px;
}


ul {
   background: linear-gradient(90deg, rgba(255, 0, 0, 1, 0.5) 0%, rgba(254, 255, 0, 1, 0.5) 100%);
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: rgb(170, 2, 2);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-family: 'Franklin Gothic Medium';
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 12px 15px 12px 15px;
    text-decoration: none;
    position: relative;
  }
  
  li a:hover {
    background-color: rgb(251, 255, 31);
    cursor: pointer;
  }

  footer {
    color: red;
    background-color: rgb(255, 231, 95);
  }

.rscities {
  position: absolute;
  display: none;
}
.strscities {
  position: absolute;
  display: none;
}
.evntscities {
  position: absolute;
  display: none;
}
.navbar :hover .rscities {
  display: block;
}